  .label-small{
    font-size: 1.2rem;
  }
  .section-small{
    font-size: 1.06rem;
    color: #869ab8;
  }
  
  .label-medium{
    font-size: 2rem;
  }
  .section-medium{
    font-size: 1.2rem;
    margin: 20px 0px;
    line-height: 1.5;
    color: #869ab8;
  }

  .label-large{
    font-size: 3rem;
  }
  .section-large{
    font-size: 1.3rem;
    color: #869ab8;
    line-height: 1.5;
    padding-top: 20px;
  }
  .selected{
    border-bottom: 1px solid #42BA96!important;
    outline: none!important;
  }