
<div class="about">
      <div class="infor ">
        <div class="form">
          <div class="form-img">
            <img src="https://landkit.goodthemes.co/assets/img/photos/photo-2.jpg" alt="">
            <div class="position-relative">
              <div class="shape line-bottom line-liquid-x svg-shim text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>

              </div>
            </div>
          </div>
          <form action="" name="userform" id="userform" >
            <div class="form-input">
              <input name="name" type="text" id="name" class="input-element" > 
              <p id="text-name"></p>
              <input name="email" type="text" id="email" class="input-element" > 
              <p id="text-email"></p>
              <input name="password" type="password" id="pass" class="input-element" > 
              <p id="text-pass"></p>
            </div>
            <div class="submit">
              <button type="submit" id="submit">Download a sample</button>
            </div>
          </form>
          
        </div>
        <div class="content">
          <div class="title label-medium">
            The most useful resource <br>
            <span style="color: #42ba96;">created for <span id="import-text"></span><span id="cursor" onload="typeWriter()">|</span> </span> 
          </div>
          <div class="text section-medium">
            Using Landkit to build your site means never worrying about designing another page or cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your life easier.
          </div>
          <div class="list">
            <div class="list-element">
              <i class="fas fa-check"></i>Lifetime updates
            </div>
            <div class="list-element">
              <i class="fas fa-check"></i>Tons of assets
            </div>
            <div class="list-element">
              <i class="fas fa-check"></i>Tech support
            </div>
            <div class="list-element">
              <i class="fas fa-check"></i>Integration ready
            </div> 
          </div>
        </div>
      </div>
    </div>
   <script src="../javascript.js" >


 </script>