    <div class="bg-commitment">
      <div class="commitment container">
        <div class="content">
          <div class="title label-medium">
            Stay focused on your commitment.<br>
            <p class="handle" >Let us handle the business<span class="dot">.</p >
          </div>
          <div class="text section-medium">
            You have a business  to run. Stop worring about cross-browser bugs, designing new pages, keeping your components up to date. Let us do that for you.
          </div>
          <div  class="facts">
            <div class="facts-item">
              <div class="detail">
                100%
              </div>
              <div class="object">
                Satisfaction
              </div>
            </div>
            <div class="facts-item">
              <div class="detail">
                24/ 7
              </div>
              <div class="object">
                Support
              </div>
            </div>
            <div class="facts-item">
              <div class="detail">
                100k+
              </div>
              <div class="object">
                Sales
              </div>
            </div>
          </div>
        </div>
        <div class="image">
          <img src="https://landkit.goodthemes.co/assets/img/illustrations/illustration-8.png" alt="">
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="../assets/css/commitment.css" />
