<div class="bg-experience">
  <div class="experience ">
    <div class="content">
      <div class="title label-medium">
        We have lots of experience <br>
        <span style="color: #335eea;">building Bootstrap themes</span>.
      </div>
      <div class="text section-medium">
        We've built well over a dozen Bootstrap themes and sold tens of thousands of copies.
      </div>
      <div class="item">
        <div class="icon">
          <img src="../assets/img/icons/round.svg" alt="">
        </div>
        <div class="item-content">
          <p class="label-small">Bootstrap users since the beginning</p>
          <p class="section-small">We've been developing with Bootstrap since it was publicly released in 2011.</p>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../assets/img/icons/closetag-icon.svg" alt="">
        </div>
        <div class="item-content">
          <p class="label-small">Deep understanding of Bootstrap</p>
          <p class="section-small">We've watched Bootstrap grow up over the years and understand it better than almost anyone.</p>
        </div>
      </div>
    </div>
    <div class="image">
      <img src="https://landkit.goodthemes.co/assets/img/screenshots/desktop/dashkit.jpg" alt="">
    </div>
  </div>
</div>
<link rel="stylesheet" href="../assets/css/experience.css">
