  <div class="feature ">
      <div class="feature-element">
        <div class="feature-icon">
          <img src="../assets/img/icons/build-icon.svg" alt="" />
        </div>
        <div class="title title-small">Built for developers</div>
        <div class="section section-small">
          Landkit is built to make your life easier. Variables, build tooling,
          documentation, and reusable components.
        </div>
      </div>
      <div class="feature-element">
        <div class="feature-icon">
          <img src="./assets/img/icons/design-icon.svg" alt="" />
        </div>
        <div class="label label-small">Designed to be modern</div>
        <div class="section section-small">
          Designed with the latest design trends in mind. Landkit feels modern,
          minimal, and beautiful.
        </div>
      </div>
      <div class="feature-element">
        <div class="feature-icon">
          <img src="images/closetag.svg" alt="" />
        </div>
        <div class="label label-small">Documentation for everything</div>
        <div class="section section-small">
          We've written extensive documentation for components and tools, so you
          never have to reverse engineer anything.
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/fonts/font.css">
    <link rel="stylesheet" href="../assets/css/feature.css">

    
  </body>
