<div class="wrapper-footer">
      <div class="footer container">
        <div class="network">
          <div class="logo">
            <img src="images/brand.svg" alt="">
          </div>
          <div class="text">
            A better way to build.
          </div>
          <div class="image">
            <img src="images/instagram.svg" alt="">
            <img src="images/facebook.svg" alt="">
            <img src="images/twitter.svg" alt="">
            <img src="images/pinterest (1).svg" alt="">
          </div>
        </div>
        <div class="infor">
          <div class="footer-list">
            <span class="title">
              PRODUCT
            </span>
            <div class="item">
              <a href="">Page Builder</a>
            </div>
            <div class="item">
              <a href="">UI Kit</a>
            </div>
            <div class="item">
              <a href="">Styleguide</a>
            </div>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
          </div>
          <div class="footer-list">
            <span class="title">
              SERVICES
            </span>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
            <div class="item">
              <a href="">Pagebuilder</a>
            </div>
            <div class="item">
              <a href="">UI Kit</a>
            </div>
          </div>
          <div class="footer-list">
            <span class="title">
              CONNECT
            </span>
            <div class="item">
              <a href="">Page Builder</a>
            </div>
            <div class="item">
              <a href="">UI Kit</a>
              
            </div>
            <div class="item">
              <a href="">Styleguide</a>
            </div>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
          </div>
          <div class="footer-list">
            <span class="title">
              LEGAL
            </span>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
            <div class="item">
              <a href="">Pagebuilder</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <style>
        wrapper-footer{
    background-color: #f1f4f8;
    padding-top: 100px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0px;
    justify-content: space-evenly;
}

.footer .network{
    width: 30%;
    padding-left: 40px;
}

.footer .network .text{
    margin: 15px 0px;
    color: #506690;
    
}

.footer .network .image img{
    padding-right: 10px;
}

.footer .infor{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.footer  .infor .footer-list {
    width: 25%;
    padding-right: 20px;
}

.footer .footer-list .title{
    color: #506690;
    font-size: 13px;
}

.footer .footer-list .item {
    margin: 20px 0px;
}

.footer .footer-list .item a{ 
    color: #869ab8;
}

.footer .footer-list .item a:hover{
    text-decoration: underline;
}



@media only screen and (max-width: 992px){
    .footer .infor .footer-list {
        width: 50%;
        margin-top: 20px;
    }
    
} 

@media only screen and (max-width: 768px){
    .footer{
        flex-direction: column;
    }

    .footer .infor{
        width: 100%;
    }

    .footer .network{
        padding: 0px;
    }
}

    </style>
