<div class="bg-footer">
      <div class="footer container">
        <div class="network">
          <div class="logo">
            <img src="https://landkit.goodthemes.co/assets/img/brand.svg" alt="" />
          </div>
          <div class="text">
            A better way to build.
          </div>
          <div class="image">
            <img src="../assets/img/icons/instagram.svg" alt="">
            <img src="../assets/img/icons/facebook.svg" alt="">
            <img src="../assets/img/icons/twitter.svg" alt="">
            <img src="../assets/img/icons/pinterest.svg" alt="">
          </div>
        </div>
        <div class="infor">
          <div class="footer-list">
            <span class="title">
              PRODUCT
            </span>
            <div class="item">
              <a href="">Page Builder</a>
            </div>
            <div class="item">
              <a href="">UI Kit</a>
            </div>
            <div class="item">
              <a href="">Styleguide</a>
            </div>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
          </div>
          <div class="footer-list">
            <span class="title">
              SERVICES
            </span>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
            <div class="item">
              <a href="">Pagebuilder</a>
            </div>
            <div class="item">
              <a href="">UI Kit</a>
            </div>
          </div>
          <div class="footer-list">
            <span class="title">
              CONNECT
            </span>
            <div class="item">
              <a href="">Page Builder</a>
            </div>
            <div class="item">
              <a href="">UI Kit</a>
              
            </div>
            <div class="item">
              <a href="">Styleguide</a>
            </div>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
          </div>
          <div class="footer-list">
            <span class="title">
              LEGAL
            </span>
            <div class="item">
              <a href="">Documentation</a>
            </div>
            <div class="item">
              <a href="">Changelog</a>
            </div>
            <div class="item">
              <a href="">Pagebuilder</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <link rel="stylesheet" href="../assets/css/footer.css" />
