<div class="header">
  <div class="logo">
    <img src="https://landkit.goodthemes.co/assets/img/brand.svg" alt="" />
  </div>
  <div class="menu">
    <ul class="menu-down">
      <li class="menu-down-1">
        <p>Landings</p>
        <div class="menu-content">
          <div class="wrap">
            <div class="picture">
              <div class="pic-content">
                <h3>Want to see an overview?</h3>
                <p>See all the pages at once.</p>
              </div>
              <div class="pic-btn">
                <a href="">Views all pages</a>
              </div>
            </div>
            <div class="menu-item-wrap">
              <div class="menu-item">
                <div class="item-left">
                  <ul class="left-top">
                    <li>SERVICES</li>
                    <li><a href="">Coworking</a></li>
                    <li><a href="">Rental</a></li>
                    <li><a href="">Job Listing</a></li>
                  </ul>
                  <ul class="left-bottom">
                    <li>APPS</li>
                    <li><a href="">Desktop</a></li>
                    <li><a href="">Mobile</a></li>
                  </ul>
                </div>
                <ul class="item-right">
                  <li>WEB</li>
                  <li><a href="">Basic</a></li>
                  <li><a href="">Start up (NEW)</a></li>
                  <li><a href="">Enterprise</a></li>
                  <li><a href="">Service</a></li>
                  <li><a href="">Cloud Hosting</a></li>
                  <li><a href="">Agency</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="menu-down-2">
        <p>Pages</p>
        <div class="menu-content">
          <div class="menu-item-wrap">
            <div class="menu-item">
              <ul class="item">
                <li>CAREER</li>
                <li><a href="">Listing</a></li>
                <li><a href="">Rental</a></li>
                <li><a href="">Opening</a></li>
                <li>COMPANY</li>
                <li><a href="">About</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Term</a></li>
              </ul>
              <ul class="item">
                <li>HELP CENTER</li>
                <li><a href="">Overview</a></li>
                <li><a href="">Article</a></li>
                <li>CONTACT</li>
                <li><a href="">Basic</a></li>
                <li><a href="">Cover</a></li>
              </ul>
              <ul class="item">
                <li>BLOG</li>
                <li><a href="">Rich View</a></li>
                <li><a href="">Article</a></li>
                <li><a href="">Showcaes</a></li>
                <li><a href="">Search</a></li>
              </ul>
              <ul class="item">
                <li>PORTFOLIO (NEW)</li>
                <li><a href="">Masonry</a></li>
                <li><a href="">Grid Rows</a></li>
                <li><a href="">Parallax</a></li>
                <li><a href="">Case Study</a></li>
                <li><a href="">Sidebar</a></li>
                <li><a href="">Sidebar: Fluid</a></li>
                <li><a href="">Basic grid</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li class="menu-down-3">
        <p>Account</p>

        <div class="menu-content">
          <div class="menu-item">
            <ul>
              <li class="item">
                <a href="">Setting(NEW)</a>
                <i class="fas fa-chevron-right"></i>
                <div class="sub-menu">
                  <ul>
                    <li><a href=""> General </a></li>
                    <li><a href=""> Security </a></li>
                    <li><a href=""> Notifications </a></li>
                    <li><a href="">Plans & Payment </a></li>
                    <li><a href="">Users </a></li>
                  </ul>
                </div>
              </li>
              <li class="item">
                <a href="">Sign In</a>
                <i class="fas fa-chevron-right"></i>
                <div class="sub-menu">
                  <ul>
                    <li><a href=""> Side Cover </a></li>
                    <li><a href=""> Illustration </a></li>
                    <li><a href=""> Basic </a></li>
                    <li><a href="">Modal Horizontal </a></li>
                    <li><a href="">Modal Vertical </a></li>
                  </ul>
                </div>
              </li>
              <li class="item">
                <a href="">Sign Up</a>
                <i class="fas fa-chevron-right"></i>
                <div class="sub-menu">
                  <ul>
                    <li><a href=""> Side Cover </a></li>
                    <li><a href=""> Illustration </a></li>
                    <li><a href=""> Basic </a></li>
                    <li><a href="">Modal Horizontal </a></li>
                    <li><a href="">Modal Vertical </a></li>
                  </ul>
                </div>
              </li>
              <li class="item">
                <a href="">Password Reset</a>
                <i class="fas fa-chevron-right"></i>
                <div class="sub-menu">
                  <ul>
                    <li><a href=""> Side Cover </a></li>
                    <li><a href=""> Illustration </a></li>
                    <li><a href=""> Basic </a></li>
                  </ul>
                </div>
              </li>
              <li class="item">
                <a href="">Error</a>
                <i class="fas fa-chevron-right"></i>
                <div class="sub-menu">
                  <ul>
                    <li><a href=""> Side Cover </a></li>
                    <li><a href=""> Illustration </a></li>
                    <li><a href=""> Basic </a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="menu-down-4">
        <p>Documentation</p>
        <div class="menu-content">
          <div class="menu-item">
            <ul>
              <li>
                <div class="document-element">
                  <div class="doc-icon">
                    <img src="../assets/img/icons/document.svg" alt="">
                  </div>
                  <div class="doc-content">
                    <h4>DOCUMENTATION</h4>
                    <p>Customizing and building</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="document-element">
                  <div class="doc-icon">
                    <img src="../assets/img/icons/document2.svg" alt="">
                  </div>
                  <div class="doc-content">
                    <h4>COMPONENTS</h4>
                    <p>Full list of components</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="document-element">
                  <div class="doc-icon">
                    <img src="../assets/img/icons/document3.svg" alt="">
                  </div>
                  <div class="doc-content">
                    <h4>CHANGELOG</h4>
                    <p>Keep track of changes</p>
                  </div>
                  <div class="version">
                    1.2.0
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="button-header">
    <a href="">Buy Now</a>
  </div>
  <button class="menu-header" id="toggle-btn">
    <i class="fas fa-bars"></i>
  </button>
</div>