<div class="bg-instruction">
      <div class="location matrix">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
          <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
        </div>
      </div>
      <div class="question ">
        <div class="question-item">
          <div class="icon">?</div>
          <div class="question-answer">
            <div class="q label-small">
              Can I use Landkit for my clients?
            </div>
            <div class="a section-small">
              Absolutely. The Bootstrap Themes license allows you to build a websites for personal use or for a client.
            </div>
          </div>
        </div>
        <div class="question-item">
          <div class="icon">?</div>
          <div class="question-answer">
            <div class="q label-small">
              Do I get free updates?
            </div>
            <div class="a section-small">
              Yes. We update all of our themes with each Bootstrap update, plus are constantly adding new components, pages, and features to our themes.
            </div>
          </div>
        </div>
        <div class="question-item">
          <div class="icon">?</div>
          <div class="question-answer">
            <div class="q label-small">
              Is there a money back guarantee?
            </div>
            <div class="a section-small">
              Yup! Bootstrap Themes come with a satisfaction guarantee. Submit a return and get your money back.
            </div>
          </div>
        </div>
        <div class="question-item">
          <div class="icon">?</div>
          <div class="question-answer">
            <div class="q label-small">
              Does it work with Rails? React? Laravel?
            </div>
            <div class="a section-small">
              Yes. Landkit has basic CSS/JS files you can include. If you want to enable deeper customization, you can integrate it into your assets pipeline or build processes.
            </div>
          </div>
        </div>
      </div>
      <div class="get-buy ">
        <div class="label">
          GET STARTED
        </div>
        <div class="title label-large">
          Get Landkit and save your time.
        </div>
        <div class="text section-large">
          Stop wasting time trying to do it the "right way" and build a site from scratch. Landkit is faster, easier, and you still have complete control.
        </div>
        <div class="button">
          <a href="">
            Buy it now! <i class="far fa-arrow-right"></i>
          </a> 
        </div>
      </div>
      <div class="location bottom">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
          <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
        </div>
      </div>
    </div>
  </div>
    <link rel="stylesheet" href="../assets/css/instructions.css" />
    <!-- <style>
  



.question {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    background-color: #1b2b4f;
    padding: 200px 96px 0 96px ;
}

.question .question-item{
    width: 50%;
    display: flex;
    padding-right: 30px;
    margin-bottom: 30px;
}

.question .question-item .icon{
    background-color: #44ba96;
    padding: 4px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
}

.question  .question-item .question-answer{
    flex: 1;
}


.question .question-item .q{
color: white;
font-size: 18px;
}


.question  .question-item .a{
color: #869ab8;
margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .question .question-item{
        width: 100%;
    }

}


.get-buy{
    text-align: center;
    padding: 50px 0px;
}

.get-buy .label{
    width: fit-content;
    margin: auto;
    background-color: #203055;
    color: #506690;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.get-buy .title{
    color: white;
}

.get-buy .text{
    color: #869ab8;
    margin: 30px auto 40px;
    max-width: 600px;
}

.get-buy .button a{
    color: white;
    background-color: #42ba96;
    padding: 18px 20px;
    border-radius: 5px;
    display: inline-block;
}

.get-buy .button a:hover{
    background-color: #42ba96;
    background-color: #389e7f;
    transform: translateY(-5px);
    transition: transform 0.3s;
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1);
}



.matrix, .my-n15 {
    margin-top: -13rem!important;
}

.text-dark {
    color: #1b2a4e!important;
}

.matrix .shape-bottom {
    right: 0;
    bottom: 400px;
    left: 0;
     margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
}

.location {
    position: relative!important;
    margin: 0 !important;
    padding: 0 !important;
}
.shape:not([class*=shape-blur]) {
    overflow: hidden;
}
.bottom .shape-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}
.shape {
    position: absolute;
    pointer-events: none;
}
.text-gray-200 {
    color: #f1f4f8!important;
}
.shape:not([class*=shape-blur])>* {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.shape-fluid-x>* {
    width: 100%;
    height: auto;
}
.shape-bottom>* {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}
.shape>* {
    display: block;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
    </style> -->


  
