<div class="bg-package">
      <div class="package ">
        <div class="title ">
          Fair, simple pricing for all.
        </div>
        <div class="text">
          All types of businesses need access to development resources, so we give you the option to decide how much you need to use.
        </div>
        <div class="toggle">
          <span>Annual</span>
          <label class="switch" >
            <input type="checkbox" id="toggle">
            <span class="slider round"></span>
          </label>
          <span>Monthly</span>
        </div>
        <div class="plaque">
          <div class="plaque-item plaque-sta">
            <div class="label">
              STANDARD
            </div>
            <div class="number" style="font-size: 60px;">
              <div>
                <sup style="font-size: 30px; margin-right: -10px;">$</sup> <span id="package">29</span><span style="font-size: 30px; padding-left: 0px;"> /mo</span>
              </div>
            </div>
            <div>
              <span style="color: #8b9ebb; font-size: 20px;">per seat</span>
            </div>
            <div class="list">
              <div class="list-item">
                <i class="fas fa-check"></i>
                Rich, responsive landing pages
              </div>
              <div class="list-item">
                <i class="fas fa-check"></i>
                100+ styled components
              </div>
              <div class="list-item">
                <i class="fas fa-check"></i>
                Flexible, simple license
              </div>
              <div class="list-item">
                <i class="fas fa-check"></i>
                Speedy build tooling
              </div>
              <div class="list-item">
                <i class="fas fa-check"></i>
                6 months free support included
              </div>
            </div>
            <div class="button">
              Get it now
            </div>
          </div>
          <div class="plaque-item plaque-right">
            <div class="label">
              ENTERPRISE
            </div>
            <div class="text-content">
              We offer variable pricing with discounts for larger organizations. Get in touch with us and we’ll figure out something that works for everyone.
            </div>
            <div class="button">
              Contact us
            </div>
          </div>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="../assets/css/package.css" />