<div class="bg-review">
      <div class="review ">
        <div class="title">
          <div class=" label-medium">
            Our reviews are our biggest fans.
          </div>
          <div class=" section-medium">
            We dont' like to brag, but we don't mind letting our customers do it for us. <br>
            Here are a few nice things folks have said about our themes over the years.
          </div>
        </div>
        <div class="slide-bg ">
          <div class="slide-list" >
            <div class="slide-track">
              <div class="slide slide-item" id="lastSlide">
                <div class="child">
                  <div class="image">
                    <img src="https://landkit.goodthemes.co/assets/img/photos/photo-1.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="branch">
                      <img src="../assets/img/icons/ainb.svg"  alt="">
                    </div>
                    <div class="content-text">
                      "Landkit is hands down the most useful front end Bootstrap theme I've ever used. I can't wait to use it again for my next project."
                    </div>
                    <div class="name">
                      DAVE GAMACHE
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide slide-item">
                <div class="child">
                  <div class="image">
                    <img src="https://landkit.goodthemes.co/assets/img/photos/photo-26.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="branch">
                      <img src="../assets/img/icons/insta.svg" alt="">
                    </div>
                    <div class="content-text">
                      
                      “I've never used a theme as versatile and flexible as Landkit. It's my go to for building landing sites on almost any project.”
                          
                    </div>
                    <div class="name">
                      RUSS D'SA
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide slide-item">
                <div class="child">
                  <div class="image">
                    <img src="https://landkit.goodthemes.co/assets/img/photos/photo-1.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="branch">
                      <img src="../assets/img/icons/ainb.svg" alt="">
                    </div>
                    <div class="content-text">
                      "Landkit is hands down the most useful front end Bootstrap theme I've ever used. I can't wait to use it again for my next project."
                    </div>
                    <div class="name">
                      DAVE GAMACHE
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide slide-item" id="firstSlide">
                <div class="child">
                  <div class="image">
                    <img src="https://landkit.goodthemes.co/assets/img/photos/photo-26.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="branch">
                      <img src="../assets/img/icons/insta.svg" alt="">
                    </div>
                    <div class="content-text">
                      
                      “I've never used a theme as versatile and flexible as Landkit. It's my go to for building landing sites on almost any project.”
                          
                    </div>
                    <div class="name">
                      RUSS D'SA
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="arrow">
            <button class="previous" >
              <i class="fas fa-arrow-left"></i>
            </button>
            <button class="next" >
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
          
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="../assets/css/review.css" />
