<div class="trademark-div">
    <div class="trademark">
        <div class="trademark-element">
          <img src="../assets/img/icons/airb.svg" alt="" />
        </div>
        <div class="trademark-element">
          <img src="../assets/img/icons/coinbase.svg" alt="" />
        </div>
        <div class="trademark-element">
          <img src="../assets/img/icons/dribble.svg" alt="" />
        </div>
        <div class="trademark-element">
          <img src="../assets/img/icons/insta.svg" alt="" />
        </div>
        <div class="trademark-element">
          <img src="../assets/img/icons/nextflix.svg" alt="" />
        </div>
        <div class="trademark-element">
          <img src="../assets/img/icons/printest.svg" alt="" />
        </div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/trademark.css">