    <div class="welcome ">
      <div class="welcome-content">
        <div class="title label-large">
          <p >Welcome to <span style="color: #335eea;">Landkit</span>.</p>
          <p >Develop anything.</p>
        </div>
        <div class="text section-medium">
          Build a beautiful, modern website with flexible experience components
          built from scratch.
        </div>
        <div class="welcome-button">
          <a href="" class="left-btn"
            >View all pages <i class="far fa-arrow-right"></i>
          </a>
          <a href="" class="right-btn">Documentation</a>
        </div>
      </div>
      <div class="welcome-image">
        <img src="../assets/img/picture/illustration.png" alt="" />
      </div>
    </div>
    <link rel="stylesheet" href="../assets/css/welcome.css">