.about{
    background-color: #f1f1f1;
    padding: 100px 96px 0 96px ;

}

.infor{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
   
}

.infor .form{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    border-radius: 5px;
}

.infor .form:hover{
    transform: translateY(-5px);
    transition: transform 0.3s;
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
}

.infor .form .form-img img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.infor .form form{
    padding: 20px;
}

.infor .form form .submit {
    margin-top: 15px;
}

.infor .form form .submit button{
    border: none;
    color: white;
    background-color: #42ba96;
    width: 100%;
    padding: 20px 0px;
    border-radius: 7px;
    font-size: 16px;
}

.infor .form .form-input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.infor .form .form-input p{
    font-size: 12px;
    color: red;
    height: 10px;
}
.infor .form .form-input .form-title{
    color: #869ab8;
    font-size: 18px;
}


.infor .form .form-input .input-element{
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0px;
    margin: 10px 0px 0px;
    font-size: 16px;
    color: #000;
}




.infor .form .submit button:hover{
    background-color: #389e7f;
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.infor .content{
    padding-left: 40px;
    width: 50%;
}



.infor .content .list{
    display: flex;
    flex-wrap: wrap;
}

.infor .content .list .list-element {
    width: 50%;
    color: #42ba96;
    margin: 10px 0px;
}

.infor .content .list .list-element i{
    color: #42ba96;
    font-size: 13px;
    font-weight: 400;
    border-radius: 13px;
    padding: 5px;
    background-color: #e3f4f2;
}

/* style for curved image in form  */
.infor .position-relative {
    position: relative!important;
}
.infor .shape:not([class*=shape-blur]) {
    overflow: hidden;
}
.infor .line-bottom {
    right: 0;
    bottom: 4px;
    left: 0;
}
.infor .shape {
    position: absolute;
    pointer-events: none;
}

.infor .text-white {
    color: #fff!important;
}
.infor .shape:not([class*=shape-blur])>* {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.infor .line-liquid-x>* {
    width: 100%;
    height: auto;
}
.infor .line-bottom>* {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

.infor .shape>* {
    display: block;
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
#cursor {
  animation: blink 1s infinite;
}

.active{
    font-size: 12!important;
    color: #869ab8!important;
}
@media only screen and (max-width: 992px) {
    .about .form{
        width: 50%;
    }


    .about .content .list .list-item{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .about{
        flex-direction: column-reverse;

    }

    .about .content{
        width: 100%;
        padding-bottom: 40px;
        padding-left: 0px;
    }

    .about .form{
        width: 100%;
    }

    .about .form .submit button{
        font-size: 16px;
    }
}

