
.commitment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f4f8;
    padding: 100px 96px 0 96px ;
    

}

 .content{
    width: 50%;
}


.facts{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.facts-item{
    border-right: 1px solid #d9e2ef;
    padding:  0px 20px;
}

.facts-item:first-child{
    padding-left: 0px;
}

.facts-item:last-child{
    border: none;
}

.facts-item .detail{
    font-size: 22px;
    padding-bottom: 10px;
}

.facts-item .object{
    font-size: 16px;
    color: #8b9ebb;
}

.commitment .image{
    width: 50%;
}

.commitment .image img{
    width: 100%;
}

.handle{
  color: #335eea
  
}
.dot{
    color: #000  !important;
}