.bg-experience{
    background-color: #f1f1f1;
    padding-top: 100px;
    padding-left: 96px;
    padding-bottom: 150px;
}

.experience{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience .content{
    width: 50%;
    line-height: 1.5;
}

.experience .content .item{
    display: flex;
    margin-bottom: 20px;
    
}



.experience .content .item .icon{
    margin-right: 25px;
}

.experience .content .item .icon img{
    width: 50px;
}

.experience .image{
    perspective: 1000px;
    width: 50%;
    background-image: url("images/bg_experience.svg");
    background-size: 125%;

   
}

.experience .image img{
    /* transform: rotate3d(0, 1, 0, -15deg); */
    transform: rotateY(-35deg) rotateX(15deg);
    width: 135%;
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
    border-radius: 10px;
    
}

@media only screen and (max-width: 992px){
    .experience .content{
        width: 60%;
    }

    .experience .image{
        width: 35%;
        background-size: 157%;
    }

    .experience .image img{
        width: 155%;
        
    }
}

@media only screen and (max-width: 768px){
    .experience{
        flex-direction: column;
    }

    .experience .content{
        width: 100%;
    }

    .experience .image{
        width: 100%;
        background-size: 100%;
    }

    .experience .image img{
        width: 100%;
    }
}