.feature {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
      padding: 0px 96px;
      transition: transform 1s;
  transform: translateY(-100px);

}

.feature .feature-element {
  width: 30%;
}

.feature .feature-element .icon img {
  width: 46px;
}

.feature .feature-element .label {
  font-size: 20px;
  margin-top: 10px;
}

.feature .feature-element .section {
  line-height: 1.6;
  color: #8295b2;
  margin-top: 16px;
}

@media only screen and (max-width: 768px){
  .feature{
    display: flex;
    flex-direction: column-reverse;
 }

 .feature .feature-element{
   width: 100%;
   padding-top: 30px;
 }
}