
.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 180px 80px 0px;
    justify-content: space-evenly;
    background-color: #f1f4f8;
    
    
}

.footer .network{
    width: 30%;
    padding-left: 40px;
}

.footer .network .text{
    margin: 15px 0px;
    color: #506690;
    
}

.footer .network .image img{
    padding-right: 10px;
}

.footer .infor{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.footer  .infor .footer-list {
    width: 25%;
    padding-right: 20px;
    align-self: flex-start;
}

.footer .footer-list .title{
    color: #506690;
    font-size: 13px;
}

.footer .footer-list .item {
    margin: 20px 0px;
}

.footer .footer-list .item a{ 
    color: #869ab8;
}

.footer .footer-list .item a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 992px){
    .footer .infor .footer-list {
        width: 50%;
        margin-top: 20px;
    }
    
} 

@media only screen and (max-width: 768px){
    .footer{
        flex-direction: column;
    }

    .footer .infor{
        width: 100%;
    }

    .footer .network{
        padding: 0px;
    }
}