
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header{
  display: none;
}

.button-header a {
  background-color: #007bff;
  padding: 15px 20px;
  border-radius: 7px;
  color: white!important;
  font-weight: 400;
  display: block;
}

.button-header a:hover {
  color: white;
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.header a {
  color: black;
  text-decoration: none;
}

.header a:hover {
  color: #335eea;
  text-decoration: none;
}

.menu-down {
  padding: 0px;
  display: flex;
  margin: 0px;
}

.menu-down > li > p {
  color: #506690;
  font-weight: 400;
}

.menu-down li {
  padding: 20px;
  position: relative;
}

.menu-down .menu-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu-down .menu-content .wrap {
  display: flex;
  border-radius: 10px;
  height: 293px;
  width: 672px;
  align-items: center;
}

.menu-down .menu-content .picture {
  background-image: linear-gradient(
      rgba(34, 114, 227, 0.8),
      rgba(34, 114, 227, 0.8)
    ),
    url(images/photo-3.jpg);
  background-size: cover;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.menu-down .menu-content .picture .pic-content {
  text-align: center;
}

.menu-down .menu-content .picture .pic-content h3{
  font-weight: 400;
}

.menu-down .menu-content .picture .pic-btn {
  width: fit-content;
  margin: 10px auto;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  background-color: white;
}
.menu-down .menu-content .picture .pic-btn a {
  color: #335eea;
}

.menu-down-1 .menu-content .menu-item-wrap {
  width: 50%;
}

.menu-down .menu-content .menu-item {
  display: flex;
  padding: 0px 20px ;
}

.menu-down-1 .menu-content .menu-item{
  padding: 0px 40px;
}

.menu-down-1 .menu-content .menu-item .item-left{
  padding-right: 50px;
}

.menu-down-2 .menu-content .menu-item{
  padding: 10px 20px;
}

.menu-down-3 .menu-content .menu-item{
  padding: 10px 0px;
}

.menu-down-3 .menu-content .menu-item .item{
  width: auto;
}

.menu-down-3 .menu-content .menu-item .item a{
  width: max-content;
}

.menu-down-4 .menu-content .menu-item li:hover i{
  color: #b2c6ea !important;
}

.menu-down-4 .menu-content .menu-item li{
  width: 100% !important;
}

.menu-down .menu-content .menu-item li a{
  font-size: 14px;
}

.menu-down .menu-content .menu-item .item-left .left-top {
  padding-bottom: 15px;
}

.menu-down .menu-content .menu-item .item-right {
  padding-right: 25px;
}

.menu-down .menu-content .menu-item ul {
  padding: 0px 0px;
}

.menu-down .menu-content .menu-item li {
  width: max-content;
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-weight: 300;
  font-size: 13px;
}

.menu-down .menu-content .menu-item li:last-child .document-element {
  border: none;
}

.menu-down .menu-content .menu-item li:first-child .document-element {
  padding-top: 20px;
}

.menu-down .menu-content .menu-item .document-element .version {
  border-radius: 10px;
  padding: 5px;
  background-color: #d4e1f9;
  margin-left: 40px;
}

.menu-down .menu-content .document-element {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 8px 0px 20px;
  width: 100%;
}

.menu-down .menu-content .document-element .doc-content{
  width: max-content;
}

.menu-down .menu-content .document-element .doc-content h4{
  font-weight: 400;
}

.menu-down .menu-content .document-element .doc-content p {
  margin: 0px;
  color: black;
  padding-top: 10px;
  font-size: 14px;
}

.menu-down .menu-content .document-element .doc-icon img{
  width: 35px;
  padding-right: 15px;
}

.header li:hover {
  color: #335eea;
}

.header li:hover > .menu-content {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s;
}

.menu-down .menu-content .menu-item .sub-menu {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: absolute;
  left: 228px;
  top: -10px;
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.menu-down .menu-content .menu-item .item {
  padding: 10px 25px;
}

.menu-down .menu-content .menu-item .item i {
  margin-left: 70px;
  color: black;
}

.menu-down .menu-content .menu-item li:hover > .sub-menu {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s;
}

.menu-down .menu-content .menu-item li:hover i {
  color: #335eea;
}



@media only screen and (max-width: 992px) {
  .menu{
    display: none;
  }

  .header  .button-header{
    display: none;
  }

  .menu-header{
    display: block;
    cursor: pointer;
    border: none;
    background-color: white;

  }

  .menu-header i{
    font-size: 27px;
    font-weight: 300;
    color: #506690;
  }

  .header{
    margin-top: 30px;
  }
}
