.bg-instruction{

background-color: #1b2b4f;
    padding-top: 600px;

}

.instruction {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.6;
   
}

.instruction .instruction-element{
    width: 50%;
    display: flex;
    padding-right: 30px;
    margin-bottom: 30px;
}

.instruction .instruction-element .icon{
    background-color: #44ba96;
    padding: 4px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
}

.instruction  .instruction-element .q-a{
    flex: 1;
}


.instruction .instruction-element .q{
color: white;
font-size: 18px;
}


.instruction  .instruction-element .a{
color: #869ab8;
margin-top: 10px;
}



.get-started{
    text-align: center;
    padding: 50px 0px;
}

.label{
    width: fit-content;
    margin: auto;
    background-color: #203055;
    color: #506690;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.title{
    color: white;
}

.text{
    color: #869ab8;
    margin: 30px auto 40px;
    max-width: 600px;
}

.button a{
    color: white;
    background-color: #42ba96;
    padding: 18px 20px;
    border-radius: 5px;
    display: inline-block;
}

.button a:hover{
    background-color: #42ba96;
    background-color: #389e7f;
    transform: translateY(-5px);
    transition: transform 0.3s;
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1);
}


.matrix, .my-n15 {
    margin-top: -16rem!important;
}

.text-dark {
    color: #1b2a4e!important;
}

.matrix .line-bottom {
    right: 0;
    bottom: 324px;
    left: 0;
}

.location {
    position: relative!important;
}
.line:not([class*=line-blur]) {
    overflow: hidden;
}
.bottom .line-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}
.line {
    position: absolute;
    pointer-events: none;
}
.text-gray-200 {
    color: #f1f4f8!important;
}
.line:not([class*=line-blur])>* {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.line-linquid>* {
    width: 100%;
    height: auto;
}
.line-bottom>* {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}
.line>* {
    display: block;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}