

.package{
    text-align: center;
    position: relative;
    background-color: #f1f4f8;
    height: 562px;
    
    padding: 100px 96px 0 96px ;
    justify-content: center;
}

.package .title{
    font-size: 34px;
}

.package .text{
    line-height: 1.5;
    font-size: 20px;
   margin: 30px auto ;
    color: #506690;
    max-width: 560px;
}
.package .toggle{
    color: #8b9ebb;
    align-items: center;
    justify-content: center;
    
}

.package .toggle label{
    margin: 0px 10px ;
}

.package .plaque{
    display: flex;
    align-items: center;
    margin-top: 200px;
    position: absolute;
    top: 200px;
    max-width: 950px;
}

 .plaque-item{
    padding-top: 50px;
}

 .plaque-item .label{
    border-radius: 14px;
    background-color: #eceafc;
    color: #335eaa;
    padding: 5px 10px;
    width: fit-content;
    margin: 0 auto;
    font-size: 12px;
}

 .plaque-item .number{
    margin-top: 25px;
}


 .plaque-sta{
    z-index: 2;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
}


 .plaque-sta .list{
    text-align: left;
    margin: 50px 80px;
}

 .plaque-sta .list .list-item {
    margin: 20px 0px;
}

 .plaque-sta  .list .list-item i{
    color: #42ba96;
    font-size: 13px;
    font-weight: 400;
    border-radius: 13px;
    padding: 5px;
    background-color: #e3f4f2;
}

 .plaque-sta .button{
    background-color: #335eea;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 22px;
    color: white;
}

 .plaque-right{
    z-index: 1;
    width: 50%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

 .plaque-right .button{
    background-color: #d9e2ef;
    border-bottom-right-radius: 10px;
    padding: 22px;
    color: #1b2a4e;
}

 .plaque-right .text-content{
    margin: 112px 45px;
    color: #869ab8;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 300;
}
/* css for toggle */
.toggle {
    display: flex;
    align-items: center;
    align-self: center;

  }
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 15px;
width: 14px;
left: 4px;
bottom: 3px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(20px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
@media only screen and (max-width: 992px){
    .package .title{
        font-size: 30px;
    }
    
    .package .text{
        font-size: 18px;
        color: #506690;
    }
    .package .plaque .plaque-right .text-content{
        margin: 100px 45px;
        font-size: 20px;
    }

    .package .plaque .plaque-sta .list{
        text-align: left;
        margin: 50px 40px;
    }
}

@media only screen and (max-width: 768px){
    .package{
        height: 895px;
    }
    .package .plaque{
        flex-direction: column;
    }

    .package .plaque .plaque-item{
        width: 100%;
    }

    .package .plaque .plaque-right{
        margin-top: 40px;
        border-radius: 10px;
    }
    .package .plaque .plaque-right .button{
        border-bottom-left-radius: 10px;
    }
    .package .plaque .plaque-right .text-content{
        margin: 40px 45px;
        font-size: 20px;
    }

}


