
.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    background-color: #f1f1f1;
  }
  
  .review__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  
  .review__heading {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 16px;
    line-height: 4rem;
    text-align: center;
  }
  
  .review__para {
    text-align: center;
    font-weight: 300;
    text-align: center;
    margin: 0;
    width: 68%;
  }
  
  .review__container {
    position: relative;
    height: 394px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
  }
  
  .slides__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
  }
  
  .slides {
    position: absolute;
    display: flex;
    transition: transform 0.7s ease;
    user-select: none;
    top: 0;
    max-width: 100%;
    height: 100%;
  }
  
  .review__list {
    height: 100%;
    max-width: 100%;
    display: flex;
    transition: all 1s;
    cursor: pointer;
    z-index: 2;
    height: 394px;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .review__list-image {
    overflow: hidden;
    max-height: 100%;
  }
  
  .review__list-image img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 96% 4% 19% 81% / 0% 30% 70% 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .review__list-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 64px 32px;
  }
  
  .review__list-icon svg {
    width: 140px;
  }
  
  .icon__red {
    color: #ff5a5f;
  }
  
  .icon__blue {
    color: #3f5d87;
  }
  
  .review__list-para {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    line-height: 2.4rem;
    font-weight: 300;
  }
  
  .review__list-footer {
    font-size: 1.4rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #90a2be;
    font-size: 300;
  }
  
  .review__container-button {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    display: flex;
    justify-content: space-between;
  }
  
  .review__container-btn {
    padding: 20px 22px;
    border-radius: 50%;
    background-color: #335eea;
    border: none;
    color: #fff;
  }
  
  .prev {
    transform: translateX(-50%);
  }
  
  .next {
    transform: translateX(50%);
  }
  
  .prev:active,
  .next:active {
    opacity: 0.8;
  }
  
  .review__layout {
    position: absolute;
    top: 0;
  }
  
  .review__layout svg {
    height: 50px;
    width: 100%;
  }
  
  .container__layout {
    position: absolute;
    bottom: -6px;
    width: 150%;
    z-index: 1;
  }
  
  .container__layout svg {
    color: #eff2f6;
  }
  .net {
    width: 100%;
    display: block;
    padding: 0;
}

.net.wide {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}



.c-6 {
    flex: 0 0 50%;
    max-width: 100%;
}




.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (max-width: 575px) {
    .wide {
        max-width: 480px;
        padding: 0 16px;
    }
}

@media (min-width: 576px) and (max-width: 759px) {
    .wide {
        width: 480px;
    }

    
}

@media (min-width: 760px) and (max-width: 989px) {
    .wide {
        width: 664px;
    }

    .row {
        margin-left: -16px;
        margin-right: -16px;
    }

    .col {
        padding-left: 16px;
        padding-right: 16px;
    }

    
}

@media (min-width: 990px) {
    .row {
        margin-left: -16px;
        margin-right: -16px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 16px;
        padding-right: 16px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

  
}

@media (min-width: 990px) and (max-width: 1199px) {
    .wide {
        width: 920px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

   

    
}

@media (min-width: 1200px) {
    .wide {
        width: 1000px;
    }
}

  @media (max-width: 759px) {

.review__container{
    flex-direction: column;
    width: 100%;
    height: 700px;
}

  
    .review__heading {
      font-size: 2.4rem;
    }

  
    .review__para {
      font-size: 1.8rem;
    }
  
    .review__list-image {
      height: 100%;
    }
  
    .review__list-image img {
        width: 100vw;
        object-fit: cover;
        border-radius: none;
        
    }
  }