.trademark-div {
  margin-top: 100px;
  border-top: 1px solid #869AB8;
  border-bottom: 1px solid #869AB8;
  padding: 40px 96px;
  
  

}

.trademark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trademark .trademark-element {
  width: 16.6%;
  color: #869AB8!important;

  /* padding: 10px 15px; */
}

.trademark .trademark-element img {
  width: 100%;
  /* filter: grayscale(100%) sepia(100%) hue-rotate(180deg); */
  --bs-text-opacity: 1;
  filter: grayscale(100%) sepia(100%) hue-rotate(180deg) saturate(800%) brightness(0.6);

    color: rgba(134, 154, 184, var(--bs-text-opacity)) !important;
}
@media only screen and (max-width: 768px){
  .trademark .trademark-element {
    width: 33.33%;
  }

}

@media only screen and (max-width: 572px){
  .trademark .trademark-element {
    width: 50%;
  }
}