.welcome {
  display: flex;
  align-items: center;
  margin-top: 100px;
  padding: 0px 96px;
  transition: transform 1s;
  transform: translateY(-100px);
  
  
}

.welcome .welcome-content {
  width: 50%;
}


.welcome .welcome-content .title p {
  padding: 3px;
}


.welcome .welcome-content .welcome-button {
  padding-top: 70px;
}

.welcome .welcome-content .welcome-button a {
  padding: 20px 30px;
  border-radius: 10px;
  display: inline-block;
}


.welcome .welcome-content .welcome-button a:hover {
  transition: transform 0.5s;
  transform: translateY(-6px);
}

.welcome .welcome-content .welcome-button .left-btn {
  margin-right: 5px;
  background-color: #335EEA;
  color: white;
}

.welcome .welcome-content .welcome-button .left-btn i{
  padding-left: 10px;
}

.welcome .welcome-content .welcome-button .left-btn:hover {
  background-color: #1746e0;
}

.welcome .welcome-content .welcome-button .right-btn {
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea;
}
.welcome .welcome-content .welcome-button .right-btn:hover {
  background-color: rgba(51, 94, 234, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
}

.welcome .welcome-image {
  width: 50%;
 
}

.welcome .welcome-image img {
  width: 129%;
}

@media only screen and (max-width: 992px){
  .welcome .welcome-content{
    width: 60%;
  }

  .welcome .welcome-image{
    width: 40%;
  }
  .welcome .welcome-image img {
    width: 123%;
  }
  .welcome .welcome-content .button {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 768px){
.welcome{
  flex-direction: column-reverse;
}

.welcome .welcome-content{
  width: 100%;
}

.welcome .welcome-image{
  width: 100%;
}

.welcome .welcome-image img{
  width: 100%;
}

.welcome .welcome-content{
  text-align: center;
}

.welcome .welcome-content .welcome-button .left-btn i{
  display: none;
}
}